{% extends 'base.html.twig' %}

{% block title_wrapper %}
  <h1 class="page-header">Erreur</h1>
{% endblock title_wrapper %}

{% block body %}
    <p>Une erreur est survenue, veuillez renouveller votre action ou <a href="{{ path('contact') }}">contacter</a> notre service</p>
{% endblock %}
