{% extends 'base.html.twig' %}

{% block title_wrapper %}
  <h1 class="page-header">Erreur 403</h1>
{% endblock title_wrapper %}

{% block body %}
    <p>Vous n'avez pas le droit d'accéder à cette ressource</p>
{% endblock %}
