{% extends "baseuser.html.twig" %}


{% block fos_user_content %}
    {% if message|length %}{{ message|raw }}{% endif %}<br/>
    <a href="{{ path('dashboard')}}">Revenir à l'accueil</a>
{% endblock fos_user_content %}
