###> symfony/framework-bundle ###
/.env.test
/.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/images/coin-logo
/public/sitemaps.xml
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
