<div class="col-lg-12">
    <div class="panel bloc-donation">
        <div class="panel-body text-center">
            <p>
              <ul class="list-unstyled">
                <li><img height="20" width="20" src="{{ asset('images/coin-logo/thumb/bitcoin.png' ) }}">&nbsp;BTC: 32EEyzdxk6HfqcToQmdU9tmduQchxodxks</li>
                <li><img height="20" width="20" src="{{ asset('images/coin-logo/thumb/ethereum.png' ) }}">&nbsp;ETH: 0x598847053E635A57849a7412cce2BF5d120055D4</li>
                <li><img height="20" width="20" src="{{ asset('images/coin-logo/thumb/litecoin.png' ) }}">&nbsp;LTC: LZ6WTZopzC7jFVo7VU69DoYePckCvVN3tD</li>
                <li><img height="20" width="20" src="{{ asset('images/coin-logo/thumb/basic-attention-token.png' ) }}">&nbsp;BAT: 0x9d89F5E662f6318De9b4F2336E8D232dA6C3eC28</li>
              </ul>
            </p>
        </div>
    </div>
</div>
