{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
  <title>Inscription - e-goldenboy.com</title>
{% endblock title %}
{% block meta %}
  <meta name="description" content="Inscription pour accéder aux simulations de trading, alertes de prix bitcoins et autres crypto-monnaies"/>
{% endblock meta %}

{% block fos_user_form_title %}
  <h3 class="panel-title">Inscrivez-vous</h3>
{% endblock fos_user_form_title%}


{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
