div.connexion-bloc{
  padding:15px;
}

div.user-register-login{
  padding:10px;
}

div.user-register-login span{
  font-style: italic;
}

ul.donation{
  list-style: none;
}

div#currency-panel-information{
  padding:15px;
}

div#currency-panel-information span{
  font-size: 17px;
}
