a.italic{
  font-style: italic;
}
div.connexion-bloc{
  padding:15px;
}

div.user-register-login{
  padding:10px;
}

div.new-alert{
  margin-bottom:10px;
}

div.user-register-login span{
  font-style: italic;
}

ul.donation{
  list-style: none;
}

div#currency-panel-information{
  padding:15px;
}

div#currency-panel-information span{
  font-size: 17px;
}

div#menu-side-bar{
  margin-top:101px!important;
}

div#header-title{
  padding-left: 15px;
}


div#footer span{
  border-bottom: 1px solid #BD1F25;
}

/*div#footer div.footer-link{
  text-align:left;
  padding-left:180px;
}*/

div#footer ul{
  list-style: none;
}

span.error{
  color: #BD1F25;
}

span.error ul{
  list-style: none;
}
