{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_form_title %}
  <h3 class="panel-title">Identifiez-vous</h3>
{% endblock fos_user_form_title%}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
