<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
      <title>Bienvenue sur e-goldenboy.com</title>
    {% endblock title %}
    {% block meta %}
    {% endblock meta %}
    {% block stylesheets %}
        {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        {% block fos_user_form_title %}
                        {% endblock fos_user_form_title%}
                    </div>
                    <div class="panel-body">
                      {% block fos_user_content %}
                      {% endblock fos_user_content %}
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('home')}}">Retour accueil</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

  {% block javascripts %}
    {% javascripts '../app/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}
  </body>
</html>
