{% extends 'base.html.twig' %}

{% block body %}
  {{ parent() }}
  <div class="container">
    <div class="starter-template">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Valeur euro</th>
            <th>Valeur dollars</th>
          </tr>
        </thead>
        <tbody>
          {% for currencyValue in currencyMomentValues %}
            <tr>
              <td>{{ currencyValue.currency.name }}</td>
              <td>{{ currencyValue.priceEur|round(2, 'floor')}}</td>
              <td>{{ currencyValue.priceUsd|round(2, 'floor') }}</td>
            </tr>
          {% endfor %}
      </tbody>
      <table>
    </div>
  </div>
{% endblock %}
