{% extends "::base.html.twig" %}

{% block title %}
  <title>Convertisseur - e-goldenboy.com</title>
{% endblock title %}


{% block title_wrapper %}
  <h1 class="page-header">Convertisseur de crypto-monnaies</h1>
{% endblock title_wrapper %}

{% block body %}
  <div class="row">
    <div class="col-lg-6">
      {{ form_start(form) }}

        <div class="form-group">
          <label>Choix de la device</label>
          {{ form_widget(form.currency,{'attr':{'class':'form-control'}}) }}
        </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
