{% extends "::base.html.twig" %}

{% block title %}
  <title>Convertisseur - e-goldenboy.com</title>
{% endblock title %}


{% block title_wrapper %}
  <h1 class="page-header">Convertisseur de crypto-monnaies</h1>
{% endblock title_wrapper %}

{% block body %}
<p>Module en cours de développement</p>
{% endblock %}
