{% extends "::base.html.twig" %}

{% block title %}Liste des articles - e-goldenboy.com{% endblock %}

{% block meta %}
  <meta name="description" content="Listes complète de tous les articles de e-goldenboy.com au sujets des bitcoins, altcoins mais aussi de tout l'univers des crypto-monnaies" />
{% endblock meta %}

{% block title_wrapper %}
  <h2>Liste des articles</h2>
{% endblock title_wrapper %}



{% block body %}
  {% for article in articles %}
    {{ article.title }}
  {% endfor %}
{% endblock %}
