{% extends "::baseuser.html.twig" %}


{% block fos_user_form_title %}
    <h3 class="panel-title">Renvoi du mot de passe</h3>
{% endblock fos_user_form_title %}

{% block fos_user_content %}
    {% if message|length %}{{message}}{% endif %}
    <form action="{{ path('send_email_password')}}" method="post">
        <fieldset>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Renseignez votre email" id="email" name="_email" required="required">
            </div>
        </fieldset>
        <input type="submit" id="_submit" class="btn btn-lg btn-success btn-block" name="_submit" value="Réinitialiser le mot de passe">
    </form>
{% endblock fos_user_content %}
