{% extends "::base.html.twig" %}

{% block title %}
  <title>Premiers pas - e-goldenboy.com</title>
{% endblock title %}
{% block meta %}
  <meta name="description" content="Explication complète de la simulation de bitcoin altcoin sur e-goldenboy.com" />
{% endblock meta %}


{% block title_wrapper %}
  <h1 class="page-header">Premiers pas</h1>
{% endblock title_wrapper %}

{% block body %}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Explication détaillé du module de simulation de trading
        </div>
        <div class="panel-body">
          <p>
            Notre plateforme vous offre la possibilité de vous entrainer à trader bitcoins et altcoins.</br>
            Les cours de ces monnaies suivent le cours en temps réel. Ce jeu est totalement gratuit,
            l'argent que vous gagnerez ou que vous perdrez est évidement totalement fictif.</br></br>

            Créer un compte:</br>
            Pour commencer le jeu, <a href="{{ path('fos_user_registration_register') }}">créer un compte</a>
            ou <a href="{{ path('fos_user_security_login')}}">connectez vous</a></br></br>

            Créer un portefeuille:</br>
            Une fois connecté, rendez vous sur cette page pour créer un <a href="{{ path('trade_new') }}">nouveau portefeuille.</a></br>
            Vous avez la possibilité de créer plusieurs portefeuilles de trading afin de tester
            différentes approches ou techniques de trading (ex: trading journalier, long terme, placement à risque ...)</br>
            Le portefeuille peut être public, si vous voulez pouvoir exposer vos actions
            aux autres utilisateurs, ou privé si vous voulez que personne ne puisse voir comment vous tradez.</br>
            Une fois que nous aurons suffisament de données pertinentes, nous pourrons alors afficher le détails des portefeuilles publics
            afin d'analyser les actions des utilisateurs, et ainsi d'apprendre mutuellement les uns des autres.</br>
            Par défaut, lors de la création de votre portefeuille, 15000 euro virtuel seront crédité sur le compte en euro du portefeuille en question.</br>
            Vous pouvez alors commencer à trader.</br></br>

            Créer des ordres d'achat ou de vente:</br>
            Pour commencer à trader il vous faut passer des ordres d'achat. Cliquez sur un de vos portefeuilles pour accéder au détail de celui-ci.</br>
            Vous avez alors la possibilité de passer un nouvel ordre.<br/>

            Pour passer un nouvel ordre, cliquez sur le bouton "nouvel ordre". Vous accéder alors à la première étape du formulaire qui consiste
            à choisir la crypto-monnaie (bitcoin, ethereum, litecoin ..) qui sera l'objet de votre ordre.</br>
            La deuxième étape du formulaire vous permet de choisir de spécifié le type d'action de votre ordre, achat ou vente de crypto-monnaie.</br></br>
            Concernant la méthode vous avez 2 choix:
            <ul>
              <li>Market: Vous acheterez vos cryptos-monnaie au cours du marché actuel. L'ordre sera exécuté dès la validation du formulaire</li>
              <li>Limit: Fixez vous même le prix de la crypto-monnaie. L'ordre sera alors en status "en cours" et sera finalisé si la crypto monnaie atteint
                le prix que vous lui avez fixé. Cette méthode est valable pour les ordre d'achat comme de vente.
              </li>
            </ul>

            Ensuite choisissez le portefeuille qui sera affecté par l'order, rentrez le montant de crypto-monnaies que vous voulez (si vous avez choisi
            la méthode "Limit", renseignez aussi le prix voulu). Le calcul du total se fait automatiquement.
            Alors vous pouvez soumettre le formulaire pour valider votre ordre.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
