{% extends "::base.html.twig" %}

{% block title %}
  <title>Qui sommes-nous? - e-goldenboy.com</title>
{% endblock title %}


{% block title_wrapper %}
  <h1 class="page-header">Qui sommes nous</h1>
{% endblock title_wrapper %}

{% block body %}
<p>
  Rédiger un paragraphe expliquant:
  - le projet (possibilité, chose a venir)
  - Le mode de financement
  - Que faisons nous avec les données ...
<p>
{% endblock %}
