{% extends "::base.html.twig" %}

{% block title %}
  <title>A propos - e-goldenboy.com</title>
{% endblock title %}
{% block meta %}
  <meta name="description" content="A propos d'e-goldenboy.com, explication du fonctionnement de la plateforme d'information et de simulation de trading de bitcoin et altcoin." />
{% endblock meta %}


{% block title_wrapper %}
  <h1 class="page-header">A propos</h1>
{% endblock title_wrapper %}

{% block body %}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Règlement
        </div>
        <div class="panel-body">
          <p>
            e-goldenboy.com est une plateforme d'information et de simulation boursière pour le monde des crypto-monnaie.<br/>
            Le site est totalement gratuit et vos données ne sont pas exploités.
          </p>
          <p>
            Le site se compose de différents modules:
            <ul>
              <li>
                Information: Le site dispose d'un module renseignant sur le cours en temps réel du bitcoin et des altoins. <br/>
                Le données sont issues de <a href="https://coinmarketcap.com/" target="_blank">coinmarketcap.com</a>. <br/>
                Nous affichons volontairement que les 100 premières crypto-monnaies selon leur capitalisation boursière.
              </li>
              <br/>
              <li>
                Convertisseur: Un module vous permet de convertir un nombre de crypto-monnaie en montant eu euro au cours en temps réel.
              </li>
              <br/>
              <li>
                Alertes: Le site propose un système d'alerte afin d'être prévenu lorsque le cours d'une crypto monnaie atteint le seuil (haut ou bas) que vous lui aurez fixé.</br>
                Par exemple, je veux être averti quand le bitcoin sera descendu à 1000€ (faut bien rêver hein !), dans ce cas, créer l'alerte et si le bitcoin atteint un jour votre seuil
                vous recevrez un email vous en informant.</br>
                Pour accéder à ce module il faut vous créer un compte.
                (Module en construction)
              </li>
              <br/>
              <li>
                Simulation de trading: Notre plateforme vous offre la possibilité de vous entrainer à trader bitcoins et altcoins.</br>
                Les cours de ces monnaies suivent le cours en temps réel. Ce jeu est totalement gratuit, l'argent que vous gagnerez ou que vous perdrez est évidement totalement fictif.</br>
                Pour plus d'informations sur le fonctionnement du jeu veuillez aller à la page <a href="{{ path('first_step') }}">Premiers pas</a>
              </li>
            </ul>
            Ou Acheter des bitcoins, ethereum, litecoin ... ?
            <ul>
              <li>
                <a href="https://www.coinbase.com/join/5947ee7b55dcea0791cd6425" target="_blank">coinbase.com:</a> La plateforme propose l'achat, la vente et le stockage de 3 crypto-monnaie, le bitcoin,
                le litecoin et l'ethereum. Les paiments peuvent se faire par virement sepa ou par carte bancaire (les frais sont toutefois assez élevé). Plateforme visuellement agréable et facile à utiliser. Idéal pour débuter.
                Si vous vous inscrivez avec ce lien, vous et nous recevrons 10$ en bitcoin dès que vous aurez effectuez au moins 100$ d'achat.
              </li>
              <li>
                <a href="https://www.kraken.com/" target="_blank">kraken.com</a>: Plateforme plus complète que coinbase, mais visuellement moins agréable. Permet d'acheter, vendre et stocker plus d'une dizaine de crypto-monnaie, dont le ripple, monero, dash, zcash ...
                et bien sûr le bitcoin, ethereum et litecoin. Les paiments se font uniquement par virement bancaire, mais les frais d'achat et de vente sont moindre que sur coinbase. La plateforme permet de
                d'acheter et de vendre avec la méthode "Limit". Davantage une platforme de trading que coinbase.
              </li>
              <li>
                <a href="https://www.litebit.eu?referrer=102812" target="_blank">litebit.eu</a>: Plateforme claire et qui à l'avantage de proposer plus d'une cinquantaine de crypto-monnaie dont verge, vertcoin, reddcoin, lisk ...</br>
                Elle a été piraté en septembre 2017, cependant les wallets de crypto-monnaie n'ont pas pu être dérobés. Visuel agréable, facile à prendre en main. Le service commercial est très réactif.</br>
                Si vous vous inscrivez via ce lien de parrainage, nous gagnerons 0.5% sur vos achats effectué sur cette plateforme.
              </li>
            </ul>
            Il y a évident tout un tas d'autres plateformes d'achat et de vente, nous vons présentons uniquement celles que nous connaissons.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
