{% extends "::base.html.twig" %}

{% block title %}
  <title>Règle du jeu - e-goldenboy.com</title>
{% endblock title %}
{% block meta %}
  <meta name="description" content="Explication complète de la simulation de bitcoin altcoin sur e-goldenboy.com" />
{% endblock meta %}


{% block title_wrapper %}
  <h1 class="page-header">Règles du jeu</h1>
{% endblock title_wrapper %}

{% block body %}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Explication détaillé du module de simulation de trading
        </div>
        <div class="panel-body">
          TODO: explication détaillé.
          Lien vers coinbase avec mon affiliation
          Lien vers kraken
          Lien vers liteBit partner programm
        </div>
      </div>
    </div>
  </div>
{% endblock %}
