{% extends "::base.html.twig" %}

{% block title %}
  <title>Où acheter des bitcoins ? - e-goldenboy.com</title>
{% endblock title %}
{% block meta %}
  <meta name="description" content="Page de présentation des différentes plateformes d'achat-vente de bitcoins et altcoins" />
{% endblock meta %}


{% block title_wrapper %}
  <h1 class="page-header">Où acheter/vendre des bitcoins ?</h1>
{% endblock title_wrapper %}

{% block body %}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <p>
            Ou Acheter des bitcoins, ethereum, litecoin ... ?
            <ul>
              <li>
                <a href="https://www.coinbase.com/join/5947ee7b55dcea0791cd6425" target="_blank">coinbase.com:</a> La plateforme propose l'achat, la vente et le stockage de 3 crypto-monnaie, le bitcoin,
                le litecoin et l'ethereum. Les paiments peuvent se faire par virement sepa ou par carte bancaire (les frais sont toutefois assez élevé). Plateforme visuellement agréable et facile à utiliser. Idéal pour débuter.
                Si vous vous inscrivez avec ce lien, vous et nous recevrons 10$ en bitcoin dès que vous aurez effectuez au moins 100$ d'achat.
              </li>
              <li>
                <a href="https://www.kraken.com/" target="_blank">kraken.com</a>: Plateforme plus complète que coinbase, mais visuellement moins agréable. Permet d'acheter, vendre et stocker plus d'une dizaine de crypto-monnaie, dont le ripple, monero, dash, zcash ...
                et bien sûr le bitcoin, ethereum et litecoin. Les paiments se font uniquement par virement bancaire, mais les frais d'achat et de vente sont moindre que sur coinbase. La plateforme permet de
                d'acheter et de vendre avec la méthode "Limit". Davantage une platforme de trading que coinbase.
              </li>
              <li>
                <a href="https://www.litebit.eu?referrer=102812" target="_blank">litebit.eu</a>: Plateforme claire et qui à l'avantage de proposer plus d'une cinquantaine de crypto-monnaie dont verge, vertcoin, reddcoin, lisk ...</br>
                Elle a été piraté en septembre 2017, cependant les wallets de crypto-monnaie n'ont pas pu être dérobés. Visuel agréable, facile à prendre en main. Le service commercial est très réactif.</br>
                Si vous vous inscrivez via ce lien de parrainage, nous gagnerons 0.5% sur vos achats effectué sur cette plateforme.
              </li>
            </ul>
            Il y a évident tout un tas d'autres plateformes d'achat et de vente, nous vons présentons uniquement celles que nous connaissons.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
