{% extends "::base.html.twig" %}

{% block title %}
  <title>Qui sommes-nous ? - e-goldenboy.com</title>
{% endblock title %}
{% block meta %}
  <meta name="description" content="Page de présentation des administrateurs de e-goldenboy.com" />
{% endblock meta %}


{% block title_wrapper %}
  <h1 class="page-header">Qui sommes nous ?</h1>
{% endblock title_wrapper %}

{% block body %}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          ???
        </div>
        <div class="panel-body">
          TODO: projet
        </div>
      </div>
    </div>
  </div>
{% endblock %}
